{% extends "challenge.html" %}
{% block challenge_extra_content %}
<div class="mb-3 text-center deployment-actions" data-challenge-id="{{ challenge.id }}">
    <div class="alert alert-primary" id="deployment-info">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <span>
        <button onclick="container_request({{ challenge.id }})" class="btn btn-primary d-none" id="create-chal">
            <small style="color: white"> Fetch Instance </small>
        </button>
        <button onclick="container_renew({{ challenge.id }})" class="btn btn-info d-none" id="extend-chal">
            <small style="color: white"> Extend Time </small>
        </button>
        <button onclick="container_stop({{ challenge.id }})" class="btn btn-danger d-none" id="terminate-chal">
            <small style="color: white"> Terminate </small>
        </button>
    </span>
</div>
{% endblock %}
